<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanodegree.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MoviesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nanodegree.popularmovies.activities.BaseActivity" />
        </activity>
        <provider
            android:authorities="com.nanodegree.popularmovies.provider"
            android:name=".provider.MoviesProvider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
